.hero {
  background-image: url("../images/AdobeStock_137686564.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 82px);
  padding: 100px;
  background-position: top left;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.section__title {
  font-size: 3rem;
  color: white;
}

.showcase {
  display: flex;
  justify-content: center;
}
.showcase > div {
  flex-basis: 50%;
}
.showcase .showcase__content {
  background-color: #212629;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .showcase__content h2 {
  width: 50%;
  line-height: 1.5;
  margin: 0 auto;
}
.showcase .showcase__image {
  background-color: #ecedef;
  flex: 1;
  padding: 50px 0;
  text-align: center;
}

.front {
  padding: 120px 0;
}

.front .section__title {
  color: #212629;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 600px;
}
.front .social-btns {
  justify-content: center !important;
}

.gain__revenue .showcase__content {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  color: #212629;
}
.gain__revenue .showcase__image {
  background-color: #f5881f;
}
.gain__revenue .showcase__content h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}
.gain__revenue .showcase__content p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
}
.hundred {
  background-color: #09af4b;
  padding: 60px 40px;
}
.hundred h1 {
  font-size: 6rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #271c24;
  margin: 0 auto;
  width: 90%;
}
.hundred p {
  margin: 0 auto;
  width: 90%;
  font-size: 2rem;
  width: 90%;
  padding-right: 35%;
  font-weight: bold;
}
.simplified__booking .showcase__image {
  background-color: rgb(230, 36, 36);
}
.join__feature {
  background-color: #212629;
  color: white;
  text-align: center;
  padding: 70px 0;
}
.join__feature h2 {
  margin: 10px auto;
  margin-bottom: 40px;
}

.join__now {
  color: white;
  padding: 0.7rem 2rem;
  letter-spacing: 6px;
}
.bg-orange {
  background-color: #f5881f;
}

.features__slider--wrapper {
  background: linear-gradient(to right, #f5881f 20%, #df2025 100%);
  margin: 9rem 0 2rem;
}

.features__slider {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  color: white;
  position: relative;
  width: 55%;
  gap: 5%;
  margin: 0 auto;
}
.features__slider > div {
  flex-basis: 50%;
}
.features__slider h2 {
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.features__slider p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
}

.features__slider img {
  position: absolute;
  max-height: 385px;
  top: 50%;
  transform: translateY(-50%);
}
.features__slider--image {
  display: flex;
  justify-content: center;
}

.features__slider ul {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 22px;
}
.features__slider ul li {
  font-size: 12px;
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

ul {
  padding: 0;
}
.mySlides {
  display: none;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides-1 .features__slider--wrapper {
  background: rgb(238, 152, 33);
  background: linear-gradient(90deg, rgba(238, 152, 33, 1) 0%, rgba(223, 39, 37, 1) 100%);
}

.mySlides-2 .features__slider--wrapper {
  background: rgb(238, 152, 33);
  background: linear-gradient(90deg, rgba(238, 152, 33, 1) 0%, rgba(223, 37, 38, 1) 100%);
}

.mySlides-3 .features__slider--wrapper {
  background: rgb(234, 126, 35);
  background: linear-gradient(90deg, rgba(234, 126, 35, 1) 0%, rgba(222, 33, 37, 1) 100%);
}
.mySlides-4 .features__slider--wrapper {
  background: #de2125;
}

.mySlides-1 .features__slider--wrapper li:nth-child(1) {
  border-bottom: 4px solid #df2725;
}

.mySlides-2 .features__slider--wrapper li:nth-child(2) {
  border-bottom: 4px solid #e69655;
}
.mySlides-3 .features__slider--wrapper li:nth-child(3) {
  border-bottom: 4px solid #212629;
}
.mySlides-4 .features__slider--wrapper li:nth-child(4) {
  border-bottom: 4px solid #f5881f;
}

/* Feature slider test end*/

/*--------Responsive Design--------*/
@media (max-width: 768px) {
  .hero {
    padding: 30px;
  }

  .section__title {
    font-size: 2rem;
    max-width: 90%;
  }
  .hero .section__title {
    max-width: 100% !important;
    padding-top: 10vh;
    font-size: 2.5rem;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase .showcase__content h2 {
    width: 90%;
    padding: 1rem;
    font-size: 1.4rem;
    padding-left: 0;
  }
  .showcase .showcase__content {
    padding: 2rem 0;
  }
  .front .section__title {
    font-size: 1.5rem;
  }
  .gain__revenue .showcase__content h2 {
    margin-bottom: 0;
  }
  .gain__revenue .showcase__content h2.desktop-hidden {
    color: #212629;
  }
  .gain__revenue .showcase__content h2.desktop-hidden:first-child {
  }

  .gain__revenue .showcase__content {
    width: 100%;
    order: 1;
  }
  .gain__revenue .showcase__image {
    width: 100%;
    order: 2;
  }
  .gain__revenue .showcase__content p {
    width: 90%;
    margin-bottom: 0;
  }
  .hundred h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .hundred p {
    font-size: 1.7rem;
    padding-right: 0px;
  }
  .features__slider img {
    display: none;
  }
  .front {
    padding: 20px 10px;
  }

  .showcase .showcase__image .desktop-hidden {
    margin: 0 auto;
  }
  .bg-transparent-mb {
    background-color: transparent !important;
  }
  .hundred {
    padding: 2rem 1rem;
  }
  .hundred h1 {
    -webkit-text-stroke-width: 4px;
  }
  .features__slider {
    width: 100%;
    padding: 2rem 0;
  }
  .features__slider h2 {
    margin-bottom: 2rem;
  }
  .features__slider ul {
    margin-bottom: 2rem;
  }
  .features__slider p {
    line-height: 1.5;
  }
  .front {
    padding: 2rem 0;
    background-color: #212629;
  }
  .front .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0 12px;
    color: white;
  }
  .front .social-btns {
    display: none;
  }
  .join__now {
    padding: 14px 20px;
    letter-spacing: 3px;
    display: inline-block;
  }
  .simplified__booking .showcase__image {
    order: 2;
  }
  .simplified__booking .join__feature {
    order: 2;
  }
  .simplified__booking .showcase__image {
    order: 3;
  }
  .join__feature:last-child .section__title {
    max-width: 90%;
  }
  .features__slider--wrapper {
    margin: 0;
  }
}
