.hero {
  background-image: url("../images/AdobeStock_137686564.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 82px);
  padding: 100px;
  background-position: top left;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.section__title {
  font-size: 3rem;
  color: white;
  max-width: 568px;
}

.showcase {
  display: flex;
  justify-content: center;
}
.showcase > div {
  flex-basis: 50%;
}
.showcase .showcase__content {
  background-color: #212629;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .showcase__content h2 {
  width: 50%;
  line-height: 1.5;
  margin: 0 auto;
}
.showcase .showcase__image {
  background-color: #ecedef;
  flex: 1;
  padding: 50px 0;
  text-align: center;
}

.front {
  padding: 120px 0;
}

.front .section__title {
  color: #212629;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 600px;
}
.front .social-btns {
  justify-content: center !important;
}

.gain__revenue .showcase__content {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  color: #212629;
}
.gain__revenue .showcase__image {
  background-color: rgb(234, 149, 33);
}
.gain__revenue .showcase__content h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}
.gain__revenue .showcase__content p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
}
.hundred {
  background-color: #09af4b;
  padding: 60px 40px;
}
.hundred h1 {
  font-size: 6rem;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #271c24;
  margin: 0 auto;
  width: 90%;
}
.hundred p {
  margin: 0 auto;
  width: 90%;
  font-size: 2rem;
  width: 90%;
  padding-right: 200px;
}
.simplified__booking .showcase__image {
  background-color: rgb(230, 36, 36);
}
.join__feature {
  background-color: #212629;
  color: white;
  text-align: center;
  padding: 70px 0;
}
.join__feature h2 {
  margin: 10px auto;
  margin-bottom: 40px;
}

.join__now {
  color: white;
  padding: 1.1rem 3rem;
  letter-spacing: 6px;
}
.bg-orange {
  background-color: rgb(234, 149, 33);
}

.features__slider--wrapper {
  background: linear-gradient(to right, rgb(234, 149, 33) 33%, rgb(230, 36, 36) 100%);
  margin: 9rem 0 2rem;
}

.features__slider {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  color: white;
  position: relative;
  width: 61%;
  margin: 0 auto;
}
.features__slider > div {
  flex-basis: 50%;
}
.features__slider h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.features__slider p {
  font-size: 18px;
  line-height: 1.7;
}

.features__slider img {
  width: 330px;
  position: absolute;
  top: -90px;
}
.features__slider ul {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.features__slider ul li {
  font-size: 14px;
}

ul {
  padding: 0;
}

/*--------Responsive Design--------*/
@media (max-width: 768px) {
  .hero {
    padding: 30px;
  }
  .section__title {
    font-size: 2rem;
    max-width: 90%;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase .showcase__content h2 {
    width: 90%;
    padding: 1rem;
    font-size: 1.4rem;
    padding-left: 0;
  }
  .showcase .showcase__content {
    padding: 2rem 0;
  }
  .front .section__title {
    font-size: 1.5rem;
  }
  .gain__revenue .showcase__content h2 {
    margin-bottom: 0;
  }
  .gain__revenue .showcase__content h2.desktop-hidden {
    color: black;
    font-size: 2rem;
  }

  .gain__revenue .showcase__content {
    width: 100%;
    order: 1;
  }
  .gain__revenue .showcase__image {
    width: 100%;
    order: 2;
  }
  .gain__revenue .showcase__content p {
    width: 90%;
    margin-bottom: 0;
  }
  .hundred h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .hundred p {
    font-size: 1.7rem;
    padding-right: 0px;
  }
  .features__slider img {
    display: none;
  }
  .front {
    padding: 20px 10px;
  }

  .showcase .showcase__image .desktop-hidden {
    margin: 0 auto;
  }
  .bg-transparent-mb {
    background-color: transparent !important;
  }
  .hundred {
    padding: 2rem 1rem;
  }
  .hundred h1 {
    -webkit-text-stroke-width: 4px;
  }
  .features__slider {
    width: 100%;
    padding: 2rem 0;
  }
  .features__slider h2 {
    margin-bottom: 2rem;
  }
  .features__slider ul {
    margin-bottom: 2rem;
  }
  .features__slider p {
    line-height: 1.5;
  }
  .front {
    padding: 2rem 0;
    background-color: #212629;
  }
  .front .section__title {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0 12px;
    color: white;
  }
  .front .social-btns {
    display: none;
  }
  .join__now {
    padding: 14px 20px;
    letter-spacing: 3px;
    display: inline-block;
  }
  .simplified__booking .showcase__image {
    order: 2;
  }
  .simplified__booking .join__feature {
    order: 2;
  }
  .simplified__booking .showcase__image {
    order: 3;
  }
  .join__feature:last-child .section__title {
    max-width: 90%;
  }
  .features__slider--wrapper {
    margin: 0;
  }
}
