.hero {
  background-image: url("../images/AdobeStock_137686564.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 82px);
  padding: 100px;
  background-position: top left;
}

.section__title {
  font-size: 3rem;
  color: white;
  max-width: 568px;
}

.showcase {
  display: flex;
  justify-content: center;
}
.showcase > div {
  flex-basis: 50%;
}
.showcase .showcase__content {
  background-color: #212629;
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .showcase__content h2 {
  width: 50%;
  line-height: 1.5;
  margin: 0 auto;
}
.showcase .showcase__image {
  background-color: #ecedef;
  flex: 1;
  padding: 50px 0;
  text-align: center;
}
.showcase .showcase__image img {
}
.front {
  padding: 120px 0;
}

.front .section__title {
  color: #212629;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 600px;
}
.front .social-btns {
  justify-content: center !important;
}

.gain__revenue .showcase__content {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 50%;
  background-color: transparent;
  color: #212629;
}
.gain__revenue .showcase__image {
  background-color: rgb(234, 149, 33);
}
.gain__revenue .showcase__content h2 {
  font-size: 2rem;
  margin-bottom: 1.3rem;
}
.gain__revenue .showcase__content p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
}
.hundred {
  background-color: #09af4b;
  padding: 100px 40px;
}
.hundred h1 {
  font-size: 7rem;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #271c24;
  margin: 0 auto;
  width: 90%;
}
.hundred p {
  margin: 0 auto;
  width: 90%;
  font-size: 3rem;
  width: 90%;
  padding-right: 200px;
}
.simplified__booking .showcase__image {
  background-color: rgb(230, 36, 36);
}
.join__feature {
  background-color: #212629;
  color: white;
  text-align: center;
  padding: 70px 0;
}
.join__feature h2 {
  margin: 10px auto;
  margin-bottom: 40px;
}

.join__now {
  color: white;
  padding: 1.1rem 3rem;
  letter-spacing: 6px;
}
.bg-orange {
  background-color: rgb(234, 149, 33);
}

.join__feature:last-child .section__title {
  max-width: 768px;
}

.features__slider--wrapper {
  background: linear-gradient(to right, rgb(234, 149, 33) 33%, rgb(230, 36, 36) 100%);
}

.features__slider {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  color: white;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.features__slider > div {
  flex-basis: 50%;
}
.features__slider h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.features__slider p {
  font-size: 18px;
  line-height: 1.7;
}

.features__slider img {
  width: 330px;
  position: absolute;
  top: -90px;
}
.features__slider ul {
  display: flex;
  justify-content: start;
  gap: 20px;
}
.features__slider ul li {
  font-size: 14px;
}

ul {
  padding: 0;
}

/*--------Responsive Design--------*/
@media (max-width: 768px) {
  .hero {
    padding: 30px;
  }
  .section__title {
    font-size: 2rem;
  }
  .showcase {
    flex-direction: column;
  }
  .showcase .showcase__content h2 {
    width: 90%;
    padding: 20px;
    font-size: 1.4rem;
    padding-left: 0;
  }
  .front .section__title {
    font-size: 1.5rem;
  }

  .gain__revenue .showcase__content {
    width: 100%;
  }
  .gain__revenue .showcase__content p {
    width: 90%;
    margin-bottom: 40px;
  }
  .hundred h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .hundred p {
    font-size: 1.7rem;
    padding-right: 0px;
  }
  .features__slider img {
    display: none;
  }
  .front {
    padding: 20px 10px;
  }
}
