.hero {
  background-color: #ecedef;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  padding: 5rem 1.5rem;
}
.hero-wrapper {
  display: flex;
  width: 85%;
  margin: 0 auto;
  gap: 5rem;
}

.hero__content,
.hero__image {
  flex: 50%;
}
.hero__image {
  text-align: center;
}

.hero--title {
  margin: 0;
  line-height: 1.3;
  font-size: 3.5rem;
}
.hero--text {
  line-height: 1.7;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-btns {
  justify-content: start;
}

.app-btn {
  width: 45%;
  max-width: 200px;
  color: #fff;
  margin: 20px 20px;
  margin-left: 0;
  padding: 10px 4px;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}
.app-btn.blu {
  background: linear-gradient(to right, rgb(234, 149, 33) 38%, rgb(230, 36, 36) 100%);
  transition: background-color 0.25s linear;
}
.app-btn.blu:hover {
  background-color: #454545;
}
.app-btn i {
  width: 20%;
  text-align: center;
  font-size: 32px;
  margin-right: 7px;
}
.app-btn .big-txt {
  font-size: 18px;
  text-transform: uppercase;
}

/*Mobile design*/
@media only screen and (max-width: 768px) {
  .hero-wrapper {
    flex-wrap: wrap;
  }
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }
}

.live-entertainment {
  padding: 5rem 0;
}

.section__title {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.section__text {
  width: 54%;
  text-align: center;
  margin: 0 auto;
  line-height: 2;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.tabs__wrapper {
  width: 85%;
  margin: 0 auto;
}

.tabs--title {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: bold;
  font-size: 18px;
}
.tabs--title li {
  background-color: #ecedef;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 10px 10px 4px 4px;
  border: 0.5px solid var(--orange);
  border-top: 5px solid var(--orange);
}
.tabs--title a {
  color: black;
}

.tabcontent__wrapper {
  display: flex;

  gap: 100px;
  border: 10px solid #ecedef;
  border-top: 1px solid #ecedef;
  border-radius: 40px;
}

.tabcontent__wrapper .tabcontent__text {
  flex: 50%;
  padding: 80px 50px;
}
.tabcontent__wrapper .tabcontent__image {
  flex: 50%;
  text-align: end;
  padding: 80px 0;
  border-radius: 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tabcontent__wrapper .tabcontent__image img {
  max-width: 100%;
}

.tabcontent__text > p {
  font-size: 1.2rem;
  line-height: 2;
}
.tabcontent__text > h2 {
  font-size: 2rem;
}
.personalized-conn {
  background-color: #ecedef;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  padding: 150px 0;
  padding-bottom: 100px;
}
.gallery {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}

.banner__wrapper {
  background-color: #212629;
}
.banner {
  width: 85%;
  margin: 0 auto;
}

.dropbtn {
  color: white;
  background-color: transparent;
  padding: 70px 16px;
  font-size: 1.8rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  outline: 0;
}

.immersive {
  padding: 100px 0;
}

.immersive__image {
  text-align: center;
}

.feature-playing {
  background-color: #ecedef;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  padding: 150px 0;
  padding-bottom: 100px;
}
.feature-playing .section__title {
  margin-bottom: 2.5rem;
}

.feature-playing__image {
  text-align: center;
}

.make-feature {
  padding: 100px 0;
}

.make-feature .social-btns {
  justify-content: center;
}

.events__booking {
  background-color: #ecedef;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  padding: 150px 0;
  padding-bottom: 100px;
}

.parent img {
  width: 100%;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 30px;
  max-width: 50%;
  margin: 0 auto;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 1 / 3 / 3 / 5;
}
.div3 {
  grid-area: 1 / 5 / 3 / 7;
}
.div4 {
  grid-area: 3 / 1 / 5 / 3;
}
.div5 {
  grid-area: 3 / 3 / 5 / 5;
}
.div6 {
  grid-area: 3 / 5 / 5 / 7;
}
.div7 {
  grid-area: 5 / 1 / 7 / 3;
}
.div8 {
  grid-area: 5 / 3 / 7 / 5;
}
.div9 {
  grid-area: 5 / 5 / 7 / 7;
}
