.hero {
  padding: 100px 0 160px;
}
.section__title {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 0;
  padding: 0 20px;
}

.hero__image {
  text-align: center;
  max-width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
}

.hero__image.desktop-show {
  display: flex;
}
.hero__image .img-1 {
  /* flex: auto; */
}

.meetgreet-hero-img {
  width: 100%;
}

.hero__image .img-2 {
  width: auto;
}

.hero__image .img-3 {
  /* flex: auto; */
}

.meet__celeb {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  padding: 130px 0;
  margin-top: -100px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(234, 149, 33) 20%, rgb(230, 36, 36) 100%);
  color: white;
  margin-top: -160px;
}

.meet__celeb--content {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 90%;
  gap: 40px;
}
.meet__celeb--content > p {
  padding-right: 0;
}
.meet__celeb--content > h3 {
}
.meet__celeb--content > div h3 {
}
.meet__celeb--content p {
  font-size: 1.1rem;
  line-height: 1.5;
}
.meet__celeb--content h3 {
  font-size: 2rem;
}

.front {
  text-align: center;
  padding: 100px;
  text-align: center;
  padding: 100px 0;
  width: 90%;
  margin: 0 auto;
}
.front .social-btns {
  justify-content: center !important;
}

.make__conn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10% !important;
  margin: 0 auto;
  gap: 200px;
}
.make__conn > * {
  flex-basis: 50%;
}
.make__conn--img {
  text-align: center;
  background-color: rgb(230, 36, 36);
  padding: 40px;
}
.make__conn--img img {
  max-width: 100%;
}

.make__conn h2 {
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .front {
    padding: 48px 0;
    color: white;
    background-color: #212629;
    margin: 0 !important;
    width: 100%;
  }
  .make__conn h2 {
    font-size: 2rem;
    margin: 2.5rem 0;
  }
  .make__conn--text {
    margin-right: auto;
    padding-left: 20px;
  }
  .social-btns .app-btn {
    width: auto;
  }
  .hero__image.desktop-show {
    display: none;
  }
  .hero__image {
    overflow: hidden;
    max-width: 100%;
  }
  .meet__celeb--content {
    gap: 0;
  }
  .make__conn {
    flex-direction: column;
    padding-left: 0 !important;
    padding-top: 0;
    gap: 0;
  }
  .meet__celeb {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%) !important;
    padding: 80px 0;
    color: #212629;
    background: linear-gradient(to right, rgb(220 137 25 / 90%) 20%, rgb(206 27 27) 100%);
  }
  .make__conn--img {
    width: 100%;
  }
  .social-btns {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .meet__celeb--content > div {
    order: 1;
  }
  .meet__celeb--content > p {
    order: 3;
  }
  .meet__celeb--content > h3 {
    order: 1;
  }
  .meet__celeb--content {
    flex-direction: column;
    align-items: start;
  }
  .meet__celeb--content h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .hero {
    padding: 50px 0 200px;
  }
  .text-center {
    text-align: center !important;
    margin: 0 auto;
  }
  .meet_artist .social-btns {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
  .meet_artist .social-btns .app-btn.blu {
    background: #212629 !important;
    justify-content: space-around;
  }
  .meet_artist .fa-apple:before {
    content: "\f179";
    background: linear-gradient(to right, rgb(234, 149, 33) 30%, rgb(230, 36, 36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }
  .meet_artist .fa-google-play:before {
    content: "\f3ab";
    background: linear-gradient(to right, rgb(234, 149, 33) 0%, rgb(230, 36, 36) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }
}
